@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0a0a0a; /* same as bg */
  color: #E5E7EB;           /* same as text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(124, 58, 237, 0.4);
  color: white;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --shadow-special:
    0px 2px 3px -1px rgba(0, 0, 0, 0.4),
    0px 1px 0px 0px rgba(25, 28, 33, 0.2),
    0px 0px 0px 1px rgba(25, 28, 33, 0.5);
}
